@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    24400 Smiley Road Suite 4<br />
    Nisswa, MN 56468<br />
    <abbr title="Phone">P:</abbr>
    800.825.9171
</address>

<address>
    <strong>General:</strong>   <a href="mailto:info@micronetonline.com">info@micronetonline.com</a><br />
</address>